template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: >
  Salesforce -> S3 Backup (SAM) - customer UAT/PRD.
  ISO 27001 SoD design: the backup function is ENCRYPT-ONLY - it can write
  backups but can never read them back or decrypt them. KMS key and S3 bucket
  are provisioned externally by CISO (Object Lock Compliance mode + deny
  policies) and passed in as ARN parameters. Restore/decrypt access belongs
  exclusively to the Salesforce data owner team.

# ============================================================================
# PARAMETERS
# ============================================================================
Parameters:

  EnvironmentName:
    Type: String
    Default: uat
    AllowedValues: [uat, prd]

  KMSKeyArn:
    Type: String
    AllowedPattern: '^arn:aws:kms:[a-z0-9-]+:\d{12}:key/[a-f0-9-]+$'
    Description: >
      CISO-managed KMS key ARN (shared services account). The function is
      granted kms:GenerateDataKey ONLY - no Decrypt. Key policy on the CISO
      side must allow this account's backup role to GenerateDataKey.

  S3BucketArn:
    Type: String
    AllowedPattern: '^arn:aws:s3:::[a-z0-9.-]+$'
    Description: >
      CISO-provisioned backup bucket ARN (Object Lock Compliance mode).
      The function is granted s3:PutObject ONLY - GetObject is both absent
      from this role AND explicitly denied by the CISO bucket policy.

  SalesforceUsername:
    Type: String

  SalesforceEcaFullName:
    Type: String
    Default: SF_Backup_S3
    Description: >-
      fullName of the ExtlClntAppGlobalOauthSettings component whose
      certificate the rotation function manages

  SalesforceLoginUrl:
    Type: String
    Description: Customer My Domain URL, e.g. https://customer.my.salesforce.com

  BackupScheduleCron:
    Type: String
    Default: "cron(0 1 * * ? *)"

# ============================================================================
# GLOBALS
# ============================================================================
Globals:
  Function:
    Runtime: python3.12
    MemorySize: 512
    Architectures: [x86_64]

# ============================================================================
# RESOURCES
# ============================================================================
Resources:

  # --------------------------------------------------------------------------
  # SNS alerts
  # --------------------------------------------------------------------------
  BackupAlertsTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub salesforce-backup-alerts-${EnvironmentName}

  # --------------------------------------------------------------------------
  # Secrets Manager - credentials with 90-day rotation
  # --------------------------------------------------------------------------
  BackupSecret:
    Type: AWS::SecretsManager::Secret
    Properties:
      Name: !Sub salesforce-backup-${EnvironmentName}/credentials
      Description: JWT private key, consumer key and Pardot credentials
      SecretString: |
        {
          "sf_jwt_private_key": "REPLACE_VIA_SECURE_CHANNEL",
          "sf_consumer_key": "REPLACE_VIA_SECURE_CHANNEL",
          "pardot_client_secret": "skip",
          "pardot_username": "skip",
          "pardot_password": "skip",
          "pardot_security_token": ""
        }

  SecretRotationSchedule:
    Type: AWS::SecretsManager::RotationSchedule
    Properties:
      SecretId: !Ref BackupSecret
      RotationRules:
        AutomaticallyAfterDays: 90
      RotationLambdaARN: !GetAtt RotationFunction.Arn

  RotationFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub salesforce-backup-rotation-${EnvironmentName}
      # Fully-automated JWT rotation via Salesforce Metadata API:
      # createSecret generates RSA-2048 + self-signed cert (AWSPENDING);
      # setSecret deploys the cert to ExtlClntAppGlobalOauthSettings.certificate
      # (single slot: old key dies on deploy; rollback = redeploy old cert via
      # the pre-swap session, which survives the change); testSecret verifies
      # the new key end-to-end; finishSecret promotes AWSCURRENT + SNS notify.
      # Org prerequisites: "Allow Access to OAuth Consumer Secrets via Metadata
      # API" enabled + integration user has the consumer-secrets-in-metadata
      # permission. Schedule rotation AWAY from the 01:00 UTC backup window.
      Description: Fully-automated 90-day JWT cert rotation via Metadata API
      Handler: rotation_function.lambda_handler
      CodeUri: src/rotation/
      Timeout: 120        # Metadata read + deploy + verify + potential rollback
      Environment:
        Variables:
          SNS_TOPIC_ARN: !Ref BackupAlertsTopic
          SF_LOGIN_URL: !Ref SalesforceLoginUrl
          SF_USERNAME: !Ref SalesforceUsername
          SF_ECA_FULLNAME: !Ref SalesforceEcaFullName
          METADATA_API_VERSION: "62.0"
      Policies:
        - Statement:
            - Sid: RotateThisSecretOnly
              Effect: Allow
              Action:
                - secretsmanager:GetSecretValue
                - secretsmanager:PutSecretValue
                - secretsmanager:DescribeSecret
                - secretsmanager:UpdateSecretVersionStage
              Resource: !Ref BackupSecret
            - Sid: NotifyAdmin
              Effect: Allow
              Action: sns:Publish
              Resource: !Ref BackupAlertsTopic

  RotationInvokePermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref RotationFunction
      Action: lambda:InvokeFunction
      Principal: secretsmanager.amazonaws.com
      SourceAccount: !Ref AWS::AccountId

  # --------------------------------------------------------------------------
  # Backup function - ENCRYPT-ONLY by design
  # --------------------------------------------------------------------------
  # Worker Lambda for the Step Functions state machine. step_handler
  # dispatches on event["action"]: discover / export_object / export_pardot /
  # aggregate. Same codebase and the same encrypt-only SoD role as before -
  # the orchestrator changes, the security posture does not.
  BackupFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub salesforce-backup-${EnvironmentName}
      Description: SFN worker - exports Salesforce objects to S3 (write-only)
      Handler: salesforce_backup.step_handler
      CodeUri: src/backup/
      Timeout: 900
      EphemeralStorage:
        Size: 2048
      Environment:
        Variables:
          SF_USERNAME: !Ref SalesforceUsername
          SF_LOGIN_URL: !Ref SalesforceLoginUrl
          AWS_REGION_NAME: !Ref AWS::Region
          S3_BUCKET: !Select [5, !Split [':', !Ref S3BucketArn]]
          KMS_KEY_ID: !Ref KMSKeyArn
          SECRETS_MANAGER_SECRET_ID: !Sub salesforce-backup-${EnvironmentName}/credentials
          SNS_TOPIC_ARN: !Ref BackupAlertsTopic
          EXPORT_SCOPE: customer
          MAX_PARALLEL_EXPORTS: '6'
          WEEKLY_ONLY_OBJECTS: visitors,visitor-activities
          FULL_EXPORT_WEEKDAY: '6'
          LOG_LEVEL: INFO
          PARDOT_CLIENT_ID: skip
          PARDOT_BUSINESS_UNIT_ID: skip
          PARDOT_INCLUDE_HIGH_VOLUME: 'false'
      Policies:
        - Statement:
            # ---- SoD core: WRITE-ONLY data path ----
            - Sid: S3PutOnly
              Effect: Allow
              Action: s3:PutObject          # deliberately NO GetObject/ListBucket
              Resource: !Sub ${S3BucketArn}/*
            - Sid: KMSEncryptOnly
              Effect: Allow
              Action:                        # GenerateDataKey ONLY - decrypt is excluded by design
                - kms:GenerateDataKey
              Resource: !Ref KMSKeyArn
            # ---- Operational permissions (no backup-data access) ----
            - Sid: SecretsReadSpecificArn
              Effect: Allow
              Action: secretsmanager:GetSecretValue
              Resource: !Ref BackupSecret    # exact ARN, no wildcard
            - Sid: SNSPublish
              Effect: Allow
              Action: sns:Publish
              Resource: !Ref BackupAlertsTopic
            - Sid: SESSend
              Effect: Allow
              Action: ses:SendEmail
              Resource: !Sub arn:aws:ses:${AWS::Region}:${AWS::AccountId}:identity/*
            - Sid: VolumeMetricsHistory
              Effect: Allow
              Action:                        # SoD-compliant anomaly history store
                - cloudwatch:PutMetricData   # (counts only - no PII)
                - cloudwatch:GetMetricStatistics
              Resource: '*'
              Condition:
                StringEqualsIfExists:
                  cloudwatch:namespace: SalesforceBackup

  # --------------------------------------------------------------------------
  # Duration early-warning (architecture decision trigger: 600s = 2/3 timeout)
  # --------------------------------------------------------------------------
  DurationAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: !Sub salesforce-backup-duration-${EnvironmentName}
      AlarmDescription: >
        Backup duration exceeded 600s (2/3 of Lambda timeout) - per the
        architecture decision record, 3 consecutive breaches trigger the
        Fargate migration plan.
      Namespace: AWS/Lambda
      MetricName: Duration
      Dimensions:
        - Name: FunctionName
          Value: !Ref BackupFunction
      Statistic: Maximum
      Period: 86400
      EvaluationPeriods: 1
      Threshold: 600000
      ComparisonOperator: GreaterThanThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref BackupAlertsTopic

  # --------------------------------------------------------------------------
  # Step Functions orchestrator (Architect decision): discover -> parallel
  # [Map over objects | Pardot branch] -> aggregate. Per-object status is
  # visible in the execution graph AND in execution_log_*.json on S3.
  # --------------------------------------------------------------------------
  BackupStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: !Sub salesforce-backup-${EnvironmentName}
      Type: STANDARD
      DefinitionSubstitutions:
        WorkerArn: !GetAtt BackupFunction.Arn
      Events:
        DailySchedule:
          Type: Schedule
          Properties:
            Name: !Sub salesforce-backup-daily-${EnvironmentName}
            Schedule: !Ref BackupScheduleCron
            # step_handler's discover treats null mode as "decide by weekday"
            # (Saturday = full). The key MUST exist: the state machine reads
            # $.mode via JSONPath, which fails on a missing key.
            Input: '{"mode": null}'
            RetryPolicy:
              MaximumRetryAttempts: 2
      Policies:
        - LambdaInvokePolicy:
            FunctionName: !Ref BackupFunction
      Definition:
        Comment: "Salesforce -> S3 backup: discover, fan-out exports, aggregate"
        StartAt: Discover
        TimeoutSeconds: 7200
        States:
          Discover:
            Type: Task
            Resource: "${WorkerArn}"
            Parameters:
              action: discover
              "mode.$": "$.mode"
            Retry:
              - ErrorEquals: [Lambda.ServiceException, Lambda.TooManyRequestsException, Lambda.SdkClientException]
                IntervalSeconds: 5
                MaxAttempts: 3
                BackoffRate: 2
              - ErrorEquals: [States.TaskFailed]
                IntervalSeconds: 60
                MaxAttempts: 3
                BackoffRate: 2
                Comment: Transient Salesforce errors - discover is idempotent
            Next: ExportAll
          ExportAll:
            Type: Parallel
            ResultPath: "$.branches"
            Branches:
              - StartAt: ExportObjects
                States:
                  ExportObjects:
                    Type: Map
                    ItemsPath: "$.objects"
                    MaxConcurrency: 6
                    Parameters:
                      action: export_object
                      "object_name.$": "$$.Map.Item.Value"
                      "meta.$": "$.meta"
                    Iterator:
                      StartAt: ExportOne
                      States:
                        ExportOne:
                          Type: Task
                          Resource: "${WorkerArn}"
                          Retry:
                            - ErrorEquals: [Lambda.ServiceException, Lambda.TooManyRequestsException, Lambda.SdkClientException]
                              IntervalSeconds: 5
                              MaxAttempts: 3
                              BackoffRate: 2
                          Catch:
                            - ErrorEquals: [States.ALL]
                              ResultPath: "$.platform_error"
                              Next: MarkFailed
                          End: true
                        MarkFailed:
                          Type: Pass
                          Parameters:
                            "object_name.$": "$.object_name"
                            status: failed
                            row_count: 0
                            s3_key: null
                            file_size_bytes: 0
                            error: Lambda invocation failed after retries
                            used_bulk: false
                          End: true
                    End: true
              - StartAt: ExportPardot
                States:
                  ExportPardot:
                    Type: Task
                    Resource: "${WorkerArn}"
                    Parameters:
                      action: export_pardot
                      "pardot_enabled.$": "$.pardot_enabled"
                      "pardot_endpoints.$": "$.pardot_endpoints"
                      "meta.$": "$.meta"
                    Retry:
                      - ErrorEquals: [Lambda.ServiceException, Lambda.TooManyRequestsException, Lambda.SdkClientException]
                        IntervalSeconds: 5
                        MaxAttempts: 3
                        BackoffRate: 2
                    Catch:
                      - ErrorEquals: [States.ALL]
                        ResultPath: "$.platform_error"
                        Next: PardotFailed
                    End: true
                  PardotFailed:
                    Type: Pass
                    Result:
                      - object_name: pardot_branch
                        status: failed
                        row_count: 0
                        s3_key: null
                        file_size_bytes: 0
                        error: Pardot Lambda invocation failed after retries
                    End: true
            Next: Aggregate
          Aggregate:
            Type: Task
            Resource: "${WorkerArn}"
            Parameters:
              action: aggregate
              "meta.$": "$.meta"
              "sf_results.$": "$.branches[0]"
              "pardot_results.$": "$.branches[1]"
            Retry:
              - ErrorEquals: [Lambda.ServiceException, Lambda.TooManyRequestsException, Lambda.SdkClientException]
                IntervalSeconds: 5
                MaxAttempts: 3
                BackoffRate: 2
              - ErrorEquals: [States.TaskFailed]
                IntervalSeconds: 30
                MaxAttempts: 2
                BackoffRate: 2
            End: true

Outputs:

  StateMachineArn:
    Description: Step Functions state machine orchestrating the backup
    Value: !Ref BackupStateMachine

  BackupFunctionName:
    Value: !Ref BackupFunction

  SecretArn:
    Description: Load real credentials via a secure channel before first run
    Value: !Ref BackupSecret

  AlertsTopicArn:
    Description: Subscribe SecOps / ops email here
    Value: !Ref BackupAlertsTopic